@font-face {
    font-family: quicksand;
    src: url(fonts/quicksand.otf);
}

html {
    background-color: #101010;   
    background: radial-gradient( circle, #121212, #080808 );
    overflow: hidden;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: quicksand;
}

#title {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 0px 0px 10px;
    color:  #DDD;
    font-size: 30px;
}

#audioname {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #BBB;
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
}

#selector {
    position: fixed;
    top: 25px;
    left: 0;
}

ul {
    list-style: none;
    padding: 20px;
    margin: 0;
    font-size: 20px;
}

li {
    color: #AAA;
    cursor: pointer;
    padding: 4px;
    transition: all 0.5s;
}

li.active {
    color: #FFF;
}

li:hover {
    color: #FFF;
}
